
/*font sizes converted to 1.3 pixels for every 1pt*/

/* color palette
Primary color palette
Brand color - #55c1db
Font colour - #303030
Accent color - #e3963e
Background color (when required)- #f5f5f5

Secondary color palette 
For highlights, accents, diagrams
#d8eaf0
#0a8398
#949cca
#f9eece
#f7d595
#e1926f
*/


/*Core Attributes*/
body {
    font-family: Roboto, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
    color: #303030;
}

h1 {
  font-weight: bold;
  font-size: 73px;
}

h2 {
  font-weight: bold;
  font-size: 50px;
}

h3 {
  font-weight: bold;
  font-size: 40px;
}

h4 {
  font-weight: normal;
  font-size: 26px;
}

p {
  font-weight: normal;
  font-size: 16px;
}

ul {
    list-style: none; /* Remove default bullets */
  }
  
/*ul li::before { 
    content: "\2022";    Add content: \2022 is the CSS Code/unicode for a bullet  
    color: #e3963e;  Change the color 
    font-weight: bold;   If you want it to be bold  
    display: inline-block;   Needed to add space between the bullet and the text  
    width: 4em;   Also needed for space (tweak if needed)  
    margin-left: -2em;   Also needed for space (tweak if needed) 
  }
*/

.btn {
  background: #55c1db;
  color: #fff;
  border: 1px solid #55c1db ;
  min-height: 1.5rem;
  font-weight: bold;
  font-size: 19px;
  padding: 5px 10px;
}

.btn:hover {
  background: #e3963e;
  color: #fff;
  border: 1px solid #e3963e;
}

.btn:active {
  background: #e3963e;
  color: #55c1db;
  border: 1px solid #e3963e;
}

input {
  min-width: 200px;
  min-height: 1.5em;
  margin-right: 2em;
  font-family: Roboto, Helvetica, sans-serif; 
  color: #303030;
  font-size: 16px;
  border: 1px solid #303030;
}

input:hover {
  border: 1px solid #e3963e;
}

input:focus {
  border: 1px solid #55c1db;
}

.dot {
  height: .75em;
  width: .75em;
  background-color: #e3963e;
  border-radius: 50%;
  display: inline-block;
}

/*grid container*/
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
      "hd hd hd hd"
      "nav nav nav nav"
      "main main main main"
      "ft ft ft ft";
  }

/*header */
  header {
    grid-area: hd;
    margin: 0;
    padding: 0;
    padding-bottom: 1em;
    background: #f5f5f5;
  }

  .logo{
    grid-column: 2 / span2;
    height: 25%;
    width: auto;
  }

  #logo-image{
    max-width: 200px;
    text-align: center;
    margin: 0;
    padding: 0; 
 
   }


 .headline {
     /*grid-column: 2 / span 2;
    text-align: center;*/
    margin: 0;
    padding: 0;
  }

  /*.form-inline { 
    grid-column: 2 / span 2;
   } */

  
/*style the navbar*/

  .navbar {
    grid-area: nav;
    grid-column: 1 / span 5;
    text-align: center;
  }

 .navbar ul {
    list-style-type: none;
    margin: 1em;
    padding: 1em;
  }

  .navbar li {
    display: inline-block;
    list-style-type: none;
    margin: 1em;
    text-align: center;
  }

  .navbar a {
    text-decoration: none;
    color: #303030;
    font-size: 18px;
    font-weight: bold;
  }

  .navbar a:hover {
    text-decoration: underline;
    color: #e3963e;
  }

  .navbar a:focus {
    text-decoration: underline;
    color: #55c1db;
  }

/*main*/
main {
  grid-area: main;
  margin: 0;
  padding: 0;
}
  
/*platform*/

.platform {
  grid-column: 2 / span 2;
  margin: 0px;
  padding: 2em 1em 1em;
}

.platform ul{
  grid-column: 2/4;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.platform li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
  border-radius: 5px;
  width: 31%
}

.card-content {
  padding: 1.5em;
}

.platform img {
  display: block;
  width: 100%;
  height: 245;
  opacity: .85;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/*
.card {
  border: 1px solid #e3963e;
  border-radius: 5px;
}*/

/*about*/
.about {
  background: #f5f5f5;
  margin: 0px;
  text-align: left;
}

.aboutus {
  display: grid;
  grid-column: 1 / span 2;
  float: left;
  width: 50%;
  padding: 30px 10px;
}

.about-image {
  display: inline-block;
  grid-column: -1 / span 2;
  width: 45%;
  text-align: end;
  padding: 20px 10px;
  text-align: end;
}


.works {
  grid-column: 2 / span 2;
  margin: 0px;
  padding: 20px auto;
}

.reviews {
  grid-column: 2 / span 2;
  background: #f5f5f5;
  margin: 0px;
  padding: 20px auto;
}

.contact {
  grid-column: 2 / span 2;
  margin: 0px;
  padding: 20px auto;
  padding-bottom: 20px;
}


.contact #headline {
  padding: 0;
  margin: 0;
} 

/*footer*/
footer{
  grid-area: ft;
  background: #f5f5f5;
  color:#303030;
}

footer .logo{
  grid-column: 1 / span 1;
  text-align: left;
  float: left;
  padding: 1em;
}

.copyright {
  grid-column: -2 / span 1;
  text-align: end;
  padding: 1em;
}

   /*media queries*/