
/*font sizes converted to 1.3 pixels for every 1pt*/

/* color palette
Primary color palette
Brand color - #55c1db
Font colour - #303030
Accent color - #e3963e
Background color (when required)- #f5f5f5

Secondary color palette 
For highlights, accents, diagrams
#d8eaf0
#0a8398
#949cca
#f9eece
#f7d595
#e1926f
*/


/*Core Attributes*/
body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-align: center;
  color: #303030;
 }

h1 {
  font-weight: bold;
  font-size: 73px;
}

h2 {
  font-weight: bold;
  font-size: 50px;
}

h3 {
  font-weight: bold;
  font-size: 40px;
  color: #e3963e
}

h4 {
  font-weight: normal;
  font-size: 22px;
  line-height: 23px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  /* border: solid 1px red;    */
}

a {
  font-size: 19px;
  color: #0a8398;
  text-decoration: none;
  font-weight: bold;
}

/* ul { */
  /* list-style: none;  */
/* } */

strong {
  font-size: 19px;
  color: #e3963e;
}

#intro-text strong {
  font-size: 24px;
  color: #e3963e;
}

#intro-text h4 {
  line-height: 25px;
}

#about-text strong {
  font-size: 22px;
  color: #e3963e;
}

#works-text strong {
  font-size: 22px;
  color: #e3963e;
}

.contact strong {
  font-size: 22px;
  color: #e3963e;
}

#about-text h4 {
  font-size: 20px;
}

#works-text h4 {
  font-size: 20px;
}

.contact h4 {
  font-size: 20px;
}
 
/*ul li::before { 
  content: "\2022";    Add content: \2022 is the CSS Code/unicode for a bullet  
  color: #e3963e;  Change the color 
  font-weight: bold;   If you want it to be bold  
  display: inline-block;   Needed to add space between the bullet and the text  
  width: 4em;   Also needed for space (tweak if needed)  
  margin-left: -2em;   Also needed for space (tweak if needed) 
}
*/

/*header */
header {
  padding: 20px 0px 40px 0px;
  background-image: url("images/pexels-cottonbro-4065617.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

#logo-image{
  width: 100%;
  height: auto;
}

 #logo {
  padding: 0 20px;
  }

.headline {
  color: #f5f5f5;
  text-shadow: 2px 2px 8px #000;
}

/*style the navbar*/

/* .navbar { */
  /* grid-area: nav; */
  /* grid-column: 1 / span 5; */
  /* text-align: center; */
/* } */

/* .navbar ul { */
  /* list-style-type: none; */
  /* margin: 1em; */
  /* padding: 1em; */
/* } */

/* .navbar li { */
  /* display: inline-block; */
  /* list-style-type: none; */
  /* margin: 1em; */
  /* padding-bottom: 1em; */
  /* text-align: center; */
/* } */

/* .navbar a { */
  /* text-decoration: none; */
  /* color: #303030; */
  /* font-size: 18px; */
  /* font-weight: bold; */
/* } */

/* .navbar a:hover { */
  /* text-decoration: underline; */
  /* color: #e3963e; */
/* } */

/* .navbar a:focus { */
  /* text-decoration: underline; */
  /* color: #55c1db; */
/* } */

/*main*/
.platform {
/* border: 1px solid green;   */
background: white;
}

#card {
/* border: solid 1px black;   */
margin: 10px;
padding: 10px;
background: #f5f5f5;
} 

#card img {
  /* border: solid 1px red; */
  width: 100%;
  height: auto;
}

/*about section*/
.about {
  /* border: solid 1px red;   */
  padding: 10px;
  background: #f5f5f5;
}

#aboutus {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  /* border: 1px solid green;   */
}

#about-image img {
  /* border: 1px solid violet;   */
  width: 100%;
  height: auto;
}

.intro {
  /* border: solid 1px red;   */
  padding: 10px;
  background: #f5f5f5;
}

.about1 {
  /* border: solid 1px red;    */
  padding: 10px;
  background: #f5f5f5;
  }

.about2 {
  /* border: solid 1px red;   */
  padding: 10px;
  background: white;
  }

  #about-text {
    /* border: 1px solid yellowgreen;  */
 }

/*Works Section*/
.works {
  /* border: solid 1px red;  */
  padding: 10px;
  background: white;
}

#works-video
{
  /* border: 1px solid violet;   */
}

#works-text {
  /* border: 1px solid yellowgreen;  */
}

/*Reviews Section with Carousel*/
.reviews {
  background: #f5f5f5;
  /* border: solid 1px red;  */
  padding: 10px;
  text-align: center;
}

#slideshow-card {
  /* border: solid 1px black;   */
  padding: 10px;
  background:white;
  margin-bottom: 10px;
} 

#slideshow-card p {
  min-height: 135px;
  /* border: solid 1px black;    */
}

.reviews .mySlides {display: none;}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
  /* border: solid 1px red;  */
}

/* The dots/bullets/indicators */
.slidedot {
  height: 5px;
  width: 5px;
  margin: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 2s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*CONTACT Section*/
.contact {
  background: #f5f5f5;
  padding: 5px;
  /* border: solid 1px red;  */
}

.field {
  /* border: solid 1px red;  */
  text-align: left;
  margin-bottom: 10px;
}

input[type=text] {
  width: 100%;
  padding: 10px;  
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  height: 40px;
  /* border: solid 1px red;  */
  font-size: 26px;
  box-sizing: border-box;
  background-color: #e3963e;
  color: white;
  border: none;
  margin-top: 15px;
}
  
input[type=submit]:hover {
  background-color: #0a8398;
}

#name {
  /* border: solid 1px red; */
}

#email {
  /* border: solid 1px red; */
}

.form {
padding-bottom: 10px;
}
    
/*footer*/
.footer {
  /* border: solid 1px red;  */
  text-align: center;
  background:#55c1db;
  color:white;
  padding: 10px;
}

/*media queries*/
@media (min-width: 769px) {

  h3 {
    font-weight: normal;
    font-size: 26px;
    line-height: 29px;
  }

  h4 {
    font-weight: normal;
    font-size: 26px;
    line-height: 29px;
  }

  #intro-text strong {
    font-size: 28px;
    color: #e3963e;
  }

  #intro-text h4 {
    line-height: 29px;
  }
  
  #about-text strong {
    font-size: 26px;
    color: #e3963e;
  }
  
  #works-text strong {
    font-size: 26px;
    color: #e3963e;
  }

  .contact strong {
    font-size: 26px;
    color: #e3963e;
  }

  #about-text h4 {
    font-size: 24px;
    padding: 0px;
  }
  
  #works-text h4 {
    font-size: 24px;
  }

  .contact h4 {
    font-size: 24px;
    /* border: solid 1px red;  */
  }

  header {
    padding: 20px 0px 100px 0px;
    /* border: solid 1px red;  */
  }

  #logo {
    padding: 0 420px;
    /* border: solid 1px green; */
  }
    
  #logo-image{
    /* border: solid 1px green;  */
    width: 100%;
    height: auto;
  }

  .intro {
    /* border: solid 1px red; */  
    padding: 10px;
    background: #f5f5f5;
  }

  #about-text {
    display: flex;
    align-items: center; 
    text-align: left;
    padding-left: 20px; 
    padding-right: 20px; 
    /* border: solid 1px red;   */
  }

  #about-image {
    display: flex;
    align-items: center;
    padding-left: 20px; 
    padding-right: 20px; 
  }

  .works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    min-height: 400px;
    /* border: solid 1px red;   */
  }
  
  
  #works-text {
    display: flex;
    align-items: center; 
    text-align: left;
    padding-left: 20px; 
    padding-right: 20px; 
    /* border: solid 1px green; */
  }

  .reviews {
    background: #f5f5f5;
    /* border: solid 1px green; */
    padding-bottom: 5px;
  }

  #slideshow-card {
  }

  #slideshow-card img{
    /* border: solid 1px green;  */
  }

  #slideshow-card p {
    padding: 10px;
    /* border: solid 1px green;  */
    min-height: 70px;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }

  
  .about p {
    text-align: left;
    margin-right: 20px;
    margin-top: 0px;
  }

  .platform {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
  }

  #card {
    padding: 20px;
    }

  #card img {
    width: 100%;
    height: auto;
  }

  .contact {
    margin: 0px;
    padding: 5px;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 30px;
  }

  .field {
    /* border: solid 1px green; */
    padding: 0px 20px;
    text-align: left;
  }
     
  input[type=submit] {
    height: 37px;
    margin-top: 18px;
  }

  .about1 {
    /* border: solid 1px red;    */
    padding: 20px;
  }
    
  .about2 {
    /* border: solid 1px red;   */
    padding: 20px;
  }
 
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: solid 1px red;  */
    padding: 20px 20px;
  }
  
  .copyright {
    text-align: start;
  }
  .rights {
    text-align: end;
  }

}